* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 1.6rem;
  /* background-color: rgba(255, 247, 247, 0.486); */
}

a {
  text-decoration: none;
}