.custom-button {
  height: 3.5rem;
  min-width: 12rem;
  background: #0569dbe5;
  color: #fff;
  text-transform: uppercase;
  border: .05rem solid #fff;
  border-radius: 3rem;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}


@media screen and (min-width: 500px) {
  .custom-button {
    height: 4rem;
    &:hover,
    &:active {
      color: #0569dbe5;
      background: #fff;
      border: .05rem solid #0569dbe5;
    }
  }
}