.custom-button {
  min-height: 3.5rem;
  background: #0569dbe5;
  color: #fff;
  text-transform: uppercase;
  border: .05rem solid #fff;
  cursor: pointer;

  &:focus {
    outline: 0;
  }

  &:hover {
    color: #0569dbe5;
    background: #fff;
    border: .05rem solid #0569dbe5;
  }
}
