.list-details {
  display: flex;
  flex-direction: column;

  .custom-button {
    display: block;
    width: 16rem;
    height: 4rem;
    margin: 1rem auto 2rem;
  }
}

.list-details-title {
  margin: auto;
  font-size: 140%;
}

.blank-list-text {
  margin: auto;
  color: gray;
  font-size: 140%;
}

.photos-header-title {
  margin-top: 3rem;
}

.list-details-upload-photo {
  text-align: center;
  margin-bottom: 3rem;

  input[type=file] {
    display: none;
  }

  input[type=file] + label {
    display: inline-block;
    color: #fff;
    background-color: #0569dbe5;
    padding: 1rem 1.5rem;
    cursor: pointer;    
    margin: 1rem auto;
    border-radius: 2rem;
  }
}

.image-upload-icon {
  margin-right: .3rem;
}

.list-details-photos {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
}

.list-details-image-container {
  position: relative;
  width: 40%;
  cursor: pointer;
  margin: 1rem 1rem;
}

.list-image {
  height: 100%;
  width: 100%;
  border: .1rem solid #c5c5c5;
}

.delete-image {
  position: absolute;
  top: -5%;
  right: -5%;
  font-size: 110%;
  background-color: white;
  color: red;
  border-radius: 50%;
}

@media screen and (min-width: 500px) {
  .delete-image {
    top: -5%;
    right: -5%;
    font-size: 130%;
  }
}

@media screen and (min-width: 600px) {
  .list-details {
    .custom-button {
      margin: 1rem auto 4rem;
    }
  }

  .list-details-title {
    font-size: 200%;
  }

  .delete-image {
    top: -3%;
    right: -3%;
    font-size: 130%;
  }
}  

@media screen and (min-width: 900px) {
  .list-details {
    .custom-button {
      margin: 1rem auto 4rem;
    }
  }

  .list-details-title {
    font-size: 200%;
  }

  .list-details-item-container { 
    border: .05rem solid #e0e0e0;  
    border-radius: .4rem;
    box-shadow: .6rem .6rem .8rem rgb(155, 155, 155);
    width: 45%;
    align-self: center;
    background-color: #fff;
  }

  .list-details-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .list-details-image-container {
    width: 20%;
    margin-right: 2rem;
  }

  .delete-image {
    top: -3%;
    right: -3%;
    font-size: 130%;
    background-color: white;
    color: red;
    border-radius: 50%;
  }

  .list-details-upload-photo {
    input[type=file] + label {
      &:hover {
        color: #0569dbe5;
        background-color: #fff;
        border: .1rem solid #0569dbe5;
      }
    }
  }

  .list-image {
    height: 75%;
  }
}