.lists-page {
  display: flex;
  flex-direction: column;

  .add-item {
    width: 12rem;
    height: 3.5rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.lists-page-lists {
  display: flex;
  flex-direction: column;
  font-size: 80%;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .lists-page {
    .add-item {
      margin-bottom: 3rem;
      height: 4rem;
    }
  }

  .lists-page-lists {
    width: 70%;
    box-shadow: .2rem .2rem 1.5rem #a5a5a5;
    font-size: 100%;
  } 
}


@media screen and (min-width: 900px) {
  .lists-page {
    .add-item {
      width: 17rem;
      margin-bottom: 3rem;
      height: 4.5rem;
      font-size: 90%;
    }
  }

  .lists-page-lists {
    width: 55%;
    font-size: 100%;
  } 
}