.list-add-display-item {
  display: flex;
  justify-content: space-between;
  border: .05rem solid #dddddd;
  padding: 1rem 1rem;
  z-index: 1;

  .close-adding {
    color: red;
    margin: 0 .8rem;
  }
}

.list-add-display-item__name {
  display: flex;
  width: 100%;
}

.list-add-form-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.list-add-form {  
  max-width: 65%;
}

.list-add-input {
  border: none;
  font-size: 100%;
  max-width: 100%;
  height: 100%;
  padding-left: .6rem;
  
  &:focus {
    outline: none;
  }
}

@media screen and (min-width: 600px) {
  .list-add-display-item {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.5rem;
    z-index: 1;
  
    .close-adding {
      color: red;
      margin: 0 .8rem;
    }
  }
  
  .list-add-display-item__name {
    display: flex;
    width: 100%;
  }
  
  .list-add-form-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .list-add-form {  
    width: 100%;
  }
  
  .list-add-input {
    border: none;
    font-size: 130%;
    padding-left: 2rem;
    width: 100%;
    height: 100%;
    
    &:focus {
      outline: none;
    }
  }
}