.list-display-item {
  display: flex;
  justify-content: space-between;
  border-top: .05rem solid #c0c0c0;
  padding: 1rem 1rem;
  background-color: #fff;  

  &:last-child {
    border-bottom: .05rem solid #c0c0c0;
  }

  .delete-list {
    color: rgb(255, 92, 92);
  }
}

.list-display-item__name {
  display: flex;
  flex: 1;
  align-items: center;
  cursor: pointer;
}

.list-name {
  margin-left: .5rem;
  color: rgb(49, 49, 49);
  font-size: 100%;
}

.share-modal-input {
  border: none;
  border-bottom: .1rem solid black;
  font-size: 100%;
  width: 80%;
  align-self: center;
  margin-bottom: 1em;
  padding: .5rem 0 .5rem .5rem;

  &:focus {
    outline: none;
  }
}

@media screen and (min-width: 600px) {
  .list-display-item {
    border-left: .05rem solid #c0c0c0;
    border-right: .05rem solid #c0c0c0;
  }
}

@media screen and (min-width: 900px) {
  .list-display-item {
    padding: 1.5rem 1.5rem;
  }
  
  .list-name {
    margin-left: 2rem;
    font-size: 130%;
  }
}

