.lists-page {
  display: flex;
  flex-direction: column;

  .add-item {
    width: 30%;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.lists-page-lists {
  display: flex;
  flex-direction: column;
  font-size: 120%;
  width: 100%;  
  margin: 0 auto;
}

@media screen and (min-width: 900px) {
  .lists-page {
    .add-item {
      width: 10%;
    }
  }

  .lists-page-lists {
    width: 40%;
  } 
}