.list-item {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1.5rem;
  margin: 0 .5rem;
  border-bottom: .05rem solid #c5c5c5;
  cursor: pointer;

  &:first-child {
    border-top: .05rem solid #c5c5c5;
  }
}

.list-item-name {
  font-weight: bold;
  font-size: 110%;
  color: #3a3a3a;
  text-transform: capitalize;
  margin-bottom: .3rem;
}

.list-item-note {
  font-size: 85%;
}

.list-item-icon-container {
  display: flex;
  align-items: center;
}

.list-icon {
  margin: 0 .8rem;
  color: #0569dbe5;
  font-size: 150%;
  cursor: pointer;

  &:hover {
    opacity: .8;
  }
}

.delete-item {
  color: rgb(255, 92, 92);
}

.completed {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: .2rem;
    background: rgb(219, 98, 98);
    animation-name: cross;
    animation-duration: .1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
  }
}

@keyframes cross {
  0%   { width : 0; }
  100% { width: 100%; }
}
  

@media screen and (min-width: 900px) {
  .list-item {
    &:first-child {
      border-top: none;
    }

    &:last-child {
      border: none;
    }
  }
  
  .list-item-name {
    font-size: 130%;
    margin-bottom: .7rem;
  }

  .list-item-note {
    font-size: 100%;
  }  
}