.list-details {
  display: flex;
  flex-direction: column;

  .custom-button {
    display: block;
    width: 25%;
    margin: 1rem auto 4rem;
  }
}

.list-details-title {
  margin: auto;
}

@media screen and (min-width: 900px) {
  .list-details {
    .add-item {
      width: 13%;
    }
  }

  .list-details-item-container { 
    border: .05rem solid #e0e0e0;  
    border-radius: .4rem;
    box-shadow: .6rem .6rem .8rem rgb(155, 155, 155);
    width: 45%;
    align-self: center;
    background-color: #fff;
  }
}