.list-display-item {
  display: flex;
  justify-content: space-between;
  border-top: .05rem solid gray;
  border-left: .05rem solid gray;
  border-right: .05rem solid gray;
  border-radius: .3rem;
  padding: 1.5rem 1.5rem;

  &:last-child {
    border-bottom: .05rem solid gray;
  }

  .delete-list {
    color: rgb(255, 92, 92);
  }
}

.list-display-item__name {
  display: flex;
  align-items: center;
}

.list-name {
  margin-left: 2rem;
  color: black;
  font-size: 110%;
}

.list-icon {
  margin: 0 .8rem;
  color: #0569dbe5;
}