.list-details {
  display: flex;
  flex-direction: column;

  .custom-button {
    display: block;
    width: 35%;
    height: 3.5rem;
    margin: 1rem auto 2rem;
  }
}

.list-details-title {
  margin: auto;
  font-size: 140%;
}

.blank-list-text {
  margin: auto;
  color: gray;
  font-size: 140%;
}

.photos-header-title {
  margin-top: 3rem;
}

.list-details-upload-photo {
  text-align: center;
  input[type=file] {
    display: none;
  }

  input[type=file] + label {
    display: inline-block;
    color: #fff;
    background-color: #0569dbe5;
    padding: 1rem 1.5rem;
    cursor: pointer;    
    margin: 1rem auto;
    border-radius: 2rem;
  }
}

.image-upload-icon {
  margin-right: .3rem;
}

@media screen and (min-width: 600px) {
  .list-details {
    .custom-button {
      width: 25%;
      margin: 1rem auto 4rem;
    }
  }

  .list-details-title {
    font-size: 200%;
  }
}  

@media screen and (min-width: 900px) {
  .list-details {
    .custom-button {
      width: 13%;
      margin: 1rem auto 4rem;
    }
  }

  .list-details-title {
    font-size: 200%;
  }

  .list-details-item-container { 
    border: .05rem solid #e0e0e0;  
    border-radius: .4rem;
    box-shadow: .6rem .6rem .8rem rgb(155, 155, 155);
    width: 45%;
    align-self: center;
    background-color: #fff;
  }
}