.progress {
  text-align: center;
  margin-bottom: 2rem;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  align-self: center;
  height: .4rem;
  width: 80%;
  border: none;
  
  &::-webkit-progress-value {
    background: #0569dbe5;
    transition: width 3s ease;
  }
}

@media screen and (min-width: 800px) {
  progress[value] {
    width: 40%;   
  } 
}

@media screen and (min-width: 1300px) {
  progress[value] {
    width: 35%;   
  } 
}